
.doubleslider-titlewrapper {
	height: 150px;
	line-height: 150px;
	text-align: center;
}
.doubleslider-title {
    display: inline;
    text-align: center;
    padding: 12px 30px;
}

ul#doubleslider-container li {
	align: center;
}

.doubleslider-container {
	background-color: $green3;
	
	h4, a, p {
		color: $beige1 !important;
	}	
	
}

.doubleslider-box-negative:first-child { 
    margin-left: 100px;
}

.doubleslider-box-negative {
	background-color: $green3;
	margin-left: 25px;
	max-width: 40%;
	float: left;

	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row;
	-ms-flex-flow:     row;
	flex-flow:         row;
	
	.doubleslider-thumbnail {
		-webkit-flex: 1;
		-ms-flex:     1;
		flex:         1;

		img {
			margin-top: 25px;
		}
	}
	
	.doubleslider-desc {
		-webkit-flex: 2;
		-ms-flex:     2;
		flex:         2;
		
		margin-left: 20px;
		border: 1px solid $beige1;
		padding: 15px;
		
		h6 {
			margin: 0 !important;
			padding: 0 !important;
			background-color: $green3 !important;
		
			a {
				margin: 0 !important;
				color: $beige1 !important;
				background-color: $green3 !important;
				text-decoration: none !important;
			}
		
			a:visited,
			a:hover,
			a:focus,
			a:active {
				color: $green1 !important;
			}
		
			a:focus {
				outline: thin dotted;
			}
		
			a:hover,
			a:active {
				outline: 0;
			}
		}
	}

}

.doubleslider-thumb {
	border-radius: 50%;
}
