
.doubleslider-titlewrapper {
	height: 150px;
	line-height: 150px;
	text-align: center;
}
.doubleslider-title {
    display: inline;
    text-align: center;
    padding: 12px 30px;
}

ul#doubleslider-container li {
	align: center;
}

